@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cinema - CineVerse</h1>
    <p>Cinema - CineVerse is a modern ASP.NET web application designed to streamline the management and operation of a cinema theater. With its intuitive interface and robust functionality, CineVerse empowers cinema administrators to efficiently handle movie screenings, ticket reservations, hall management, and more.</p>
</div>
